<!-- howdy/templates/index.html -->
<!DOCTYPE html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Howdy!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/jquery.flowchart.css' %}" rel="stylesheet">
    <script src= "{% static 'js/jquery-3.3.1.js' %}"></script>

    <script src= "{% static 'js/jquery-ui.min.js' %}"></script>
    
    <script src= "{% static 'js/jquery.flowchart.js' %}"></script>
    
</head>
<body>
    <h1>Howdy! I am Learning Django!</h1>

    <div class="demo" id="example"></div>

   
</body>

<script type="text/javascript">
       
    $(document).ready(function() {
        var data = {
          operators: {
            operator1: {
              top: 20,
              left: 20,
              properties: {
                title: 'Operator 1',
                inputs: {},
                outputs: {
                  output_1: {
                    label: 'Output 1',
                  }
                }
              }
            },
            operator2: {
              top: 80,
              left: 300,
              properties: {
                title: 'Operator 2',
                inputs: {
                  input_1: {
                    label: 'Input 1',
                  },
                  input_2: {
                    label: 'Input 2',
                  },
                },
                outputs: {}
              }
            },
          }
        };
        // Apply the plugin on a standard, empty div...
        $('#example').flowchart({
          data: data
        });

      });
</script>